﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Videos</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/VideoHostingScripts/videosScript.js"></script>
</head>
    <body>
        <p class="h2">Videos</p>
        <div id="videos" class="list-group w-100">
        </div>
        <hr />
        <div>
            <p class="h3">Upload video</p>
            <div class="form-group">
                <label>Title <span style="color:red">*</span></label>
                <input type="text" class="form-control" id="title" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" id="description" rows="3" placeholder="Enter description"></textarea>
            </div>
            <div class="form-group">
                <label>File <span style="color:red">*</span></label>
                <input type="file" class="form-control-file" id="uploadFile" accept="video/*" >
            </div>
            <input type="button" class="btn btn-primary" value="Add video" onclick="uploadFile();" />
        </div>
    </body>
</html>