﻿<html>
<head>
    <title>Playing video</title>
</head>
<body>
    <div class="pt-3">
        <video id="video" width="480" height="320" controls="controls" autoplay="autoplay"></video>
    </div>

    <div>
        <label id="titleVideo"></label>
    </div>
    <div>
        <p id="descriptionVideo"></p>
    </div>
    <script>
        var uriGetVideo = '@Url.HttpRouteUrl("GetVideo", new { id = ViewBag.VideoId })';

        $(document).ready(function () {
            getVideo();
        });

        function getVideo() {
            $.ajax({
                type: "GET",
                url: uriGetVideo,
                success: function (data) {
                    if (data) {
                        $("#titleVideo").text(data.Title);
                        $("#descriptionVideo").text(data.Description);
                        $('<source>',
                            {
                                src: window.urlPlayVideo + '?filename=' + data.FileName,
                                type: "video/webm"
                            }).appendTo($('#video'));
                    } else {
                        alert("This video is deleted");
                    }
                },
                error: function (status) {
                    alert(status);
                }
            });
        }
    </script>
</body>
</html>